*{
    text-align: center;
}

body{
    background: #4e4d4d;
    color: white;
}

.gridContainer{
    display: grid;
    grid-template-areas: 'navbar'
                         'propiedades'
                         'footer';
    grid-template-rows: 1fr 9fr;
    color: white;
    height: 1500px;
}

.footer{
    grid-area: footer;
    margin-bottom: 300px;
}

.navbar{
    grid-area: navbar;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#propiedades{
    display:inline;
}

.propiedades{
    grid-area: propiedades;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    /* height: 80vh; */
}

.propiedad{ 
    margin: auto;
    width: 270px;
    background: rgba(255, 255, 255, 0.068);
    box-shadow: 0px 0px 7px 1px rgba(255, 255, 255, 0.39);
}

.propiedad img{
    height: 1500px;
    width: 300px;
    background-size: cover;
    background-position: center;
}

.propiedad section{
    padding: 10px 20px;
}

.propiedad section p{
    margin: 0px
}

.detalle_propiedad{
    grid-area: detalle;
    /* width: 100%; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background: #4e4d4d;
    color: white;
}

.detalle_propiedad img{
    margin-top: 50px;
    width: 600px;
}

.detalle_propiedad h4{
    margin-top: 20px;
}

.detalle_section{
    width: 1358px;
}

.color{
    background: #4e4d4d;
}


@media screen and (min-width: 992px) {
  
    .gridContainer{
        display: grid;
        grid-template-areas: 'navbar propiedades'
                             'navbar propiedades'
                             'footer propiedades';
        grid-template-columns: 20% 80%;
    }

    .propiedades{
        grid-template-columns: repeat(4,1fr);
        gap: 10px;
        height: 80vh;
    }

    .propiedad{
        width: 290px;
        height: 320px;
        margin: 5px;
    }

    .propiedad .img{
        height: 130px;
        width: 100%;
        background-size: cover;
        background-position: center;
    }

    .navbar{
        justify-content: flex-start;
        align-items: center;
        margin-top: 100px;
        margin-left: 20px;
        margin-right: 20px;
        border-right: 1px solid lightcyan;
    }

    .div_desdeHasta{
        margin-right: 15px;
    }

    .form-control{
        width: 78px;
    }

    .detalle_propiedad{
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px;
        color: white;
    }

}